.property {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.property__title {
    color: rgb(109, 109, 109);
}

.property__value {
    font-size: 16px;
    font-weight: 600;

}